<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Предсказание Судьбы!"> 
        <div class="one"><h1>~Ваша судьба~</h1></div>
        <div *ngFor="let str of strings" style="margin: 0% 1% 0% 1%;">
          <div class="flipcard h">
            <div class="front">
            </div>
            <div class="back">
            {{str}}
            </div>
        </div>
        </div>
      </mat-tab>
      <mat-tab label="Знаки Зодиака">
        <app-zodiac-signs></app-zodiac-signs>
      </mat-tab>
    </mat-tab-group>
  </body>
</html>